apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-sample-project-celery
  labels:
    app: celery
spec:
  replicas: 1
  selector:
    matchLabels:
      app: celery
  template:
    metadata:
      labels:
        app: celery
    spec:
      containers:
        - name: fastapi-sample-project-celery
          image: nahiyanswe/fastapi-sample-project:k8s
          command: ["python"]
          args: ["worker.py"]
          env:
            - name: PYTHONPATH
              value: "/app"
