apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-sample-project-redis
  labels:
    app: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: fastapi-sample-project-redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: fastapi-sample-project-redis-service
spec:
  selector:
    app: redis
  ports:
  - port: 6379
    targetPort: 6379
